.result{
  display: grid;
  background: $gradient-primary;
  color: $clr-neutral-100;
  text-align: center;
  padding: 3rem 6rem 4rem;
  border-bottom-left-radius: $size-300;
  border-bottom-right-radius: $size-300;
  
  &__number-container{
    width: 16rem;
    background: $gradient-secondary;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    margin: 2.5rem auto;
    display: grid;
    place-content: center;
    gap: 1rem;
  }

  &__number--main{
    font-size: 6rem;
    font-weight: $fw-bold;
    line-height: 1;
  }

  &__number--target{
    opacity: $opacity-md;
  }

  &__text{
    font-size: 1.6rem;
    opacity: $opacity-md;
  }
}