.category{
  position: relative;
  padding: 1.5rem;
  margin-bottom: 1.75rem;
  display: flex;
  gap: 1rem;
  color: var(--bar-color);

  &::before{
    position: absolute;
    inset: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--bar-color);
    opacity: var(--bar-opacity, .06);
  }

  &--red{
    --bar-color: #{$clr-accent-red};
    // @include barcolor($clr-accent-red, .1);
  }
  &--yellow{
    --bar-color: #{$clr-accent-yellow};
  }
  &--teal{
    --bar-color: #{$clr-accent-teal};
    --bar-opacity: .08
  }
  &--purple{
    --bar-color: #{$clr-primary};
    --bar-opacity: .08
  }

  &__result{
    font-weight: $fw-medium;
    color: $clr-neutral-900;
    margin-left: auto;

    span{
      opacity: .4;
    }
  }
}